python-dotenv
ipykernel
huggingface-hub
pypdf
pandas
numpy
langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-chroma
langchain-groq
langchain-ollama
langchain_nvidia_ai_endpoints
langchain-google-genai
google-generativeai
bs4
faiss-cpu
arxiv
pymupdf
wikipedia
lxml
streamlit
duckduckgo-search
SQLAlchemy
pyodbc
validators==0.28.1
unstructured
pytube
youtube_transcript_api
crewai
crewai_tools
PyPDF2
pymongo
